@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --verde: #1E7A3C;
  --verde-oscuro: #145C2B;
  --amarillo: #F5C800;
  --rojo: #CC2200;
  --blanco: #FFFFFF;
  --negro: #0D0D0D;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
}

body {
  background: var(--negro);
  color: var(--blanco);
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--negro);
}
::-webkit-scrollbar-thumb {
  background: var(--verde);
  border-radius: 3px;
}
